@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #888888;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Songti TC', 'STSong', 'SimSun', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
