@import url("https://use.typekit.net/pen4qeo.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adobe Fonts Configuration */
.neue-haas-unica {
  font-family: "neue-haas-unica", sans-serif;
  font-style: normal;
}

.dnp-shuei-nshogomincho-std {
  font-family: "dnp-shuei-nshogomincho-std", sans-serif;
  font-style: normal;
}

:root {
  --background: #000000;
  --foreground: #888888;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Default: Chinese content */
  font-family:  "neue-haas-unica","dnp-shuei-nshogomincho-std", 'Songti TC', sans-serif;
  font-weight: 700;
  font-style: normal;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
